html
	head
		include navbar.pug
		include header.pug
		title
		style.
			.errorCSS {
			border-color: #ff0047 !important;
			color: #ff0047 !important;
			}
	body
		.container-fluid
			form(action='/employeedata',name='regis',id='de',method='POST', autocomplete='off')
				.col-md-12.mt-3
					.card
						.card-header
							h5.card-title Add Employee
						.card-body
								.row.mt-3
									.col-md-4
										.input-group.input-group-sm
											.input-group-prepend
												span.input-group-text Type Of Employee
											select.custom-select(name='typeofemployee',id="identify",)
												option(value='', style='color: black') SELECT
												option(value='GHMC Employee') GHMC Employee
												option(value='Irregation Employee') Irregation Employee
												option(value='Metro Employee') Metro Employee
												option(value='L&T Employee') L&T Employee
												option(value='Railway Employee') Railway Employee
												option(value='R.T.C Employee') R.T.C Employee
									input(type='hidden', name='employ_id')
									.col-md-4
										.input-group.input-group-sm
											.input-group-prepend
												span.input-group-text Name 
											input.form-control#fname(type='text', name='ename', maxlength='30') 
									.col-md-4
										.input-group.input-group-sm
											.input-group-prepend
												span.input-group-text Employee Email Id: 
											input.form-control#fmail(type='text', name='email', maxlength='30',autocomplete="off")
								.row.mt-3
									.col-md-4
										.input-group.input-group-sm
											.input-group-prepend
												span.input-group-text Cell No: 
											input.form-control#fcell(type='text', name='ecellno', maxlength='30')
									.col-md-4
										.input-group.input-group-sm
											.input-group-prepend
												span.input-group-text Password: 
											input.form-control#fpassword(type='password', name='epassword', maxlength='30')
								.row.mt-3
									.col-md-11.text-center
											button.btn.btn-primary(type='submit') Submit